<div class="departureDialog-title">
    <div class="departureDialog-closeButton">x</div>
    <div class="departuerDialof-title-phrase">Я отправляюсь со станции</div>
    <div class="departuerDialof-title-phrase departureDialog-title-phrase_station"><%= stationName %></div>
    <div class="departuerDialof-title-phrase">и планирую быть на ней в:</div>
</div>
<div class="departureDialog-departureTime">
    <input type="text" class="departureDialog-departureHours"/>
    :
    <input type="text" class="departureDialog-departureMinutes"/>
</div>
<button class="departureDialog-confirmButton">Поехали!</button>