.departureDialog {
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px hsla(0, 0%, 0%, .3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 400px;
}

.departureDialog * { margin-top: 10px; }
.departureDialog *:last-child { margin-bottom: 10px; }
.departureDialog input { width: 50px; text-align: center; }

.departureDialog-title { text-align: center; }
.departureDialog-title-phrase { font-size: 1em; }
.departureDialog-title-phrase_station { font-size: 1.6em; }